.appbar-style-customize{
    background-color: #7469B6 !important;
}

.handleDrawerClose-style-customize{
    color: #7469B6 !important;
}
.NavLeftIcon-style-customize{
    color: #E1AFD1 !important;
}
